*{
    letter-spacing: 0.8PX;
    line-height: 1.5em;
}
body{
    font-family: 'Noto serif TC', sans-serif;
}
p.r{
    color:#6c757d;
    font-size: 40px;
    text-align: center;
    text-indent: 2em;
    letter-spacing: 0.8px;
}
.b{
    color:#343a40;
    text-align: center;

}
.blue{
    color:#198754;
    text-align: center;
    font-size: 40px;
}